
# Active la réécriture d'URL
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Ne pas rediriger si le fichier existe
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Rediriger toutes les autres requêtes vers index.html
  RewriteRule ^(.*)$ index.html [QSA,L]
</IfModule>

# Configurer les en-têtes CORS si nécessaire
<IfModule mod_headers.c>
  <FilesMatch "\.(html|js|css)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>
